{% extends "users/layout.html" %}
{% block body%}
  <h1>Login</h1>
  {% if form.errors %}
    <ul class="errorlist">
      {% for field in form %}
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    {% for field in form %}
        {{field}}
    {% endfor %}
    <button type="submit" class="button">Login</button>
  </form>
  <p>No account? <a href="{%url 'register'%}">Register Here</a></p>
{% endblock %}