{% extends "users/layout.html" %}

{% block body %}
    <h1>Register</h1>
    {% if message %}
        <div>{{message}}</div>
    {% endif %}
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="emial" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="confirm" name="confirm" placeholder="Confirm">
        <input type="submit">
    </form>
{% endblock %}