{% extends "debates/layout.html" %}

{% block body %}
    <h2>Assign Roles in {{room.title}}</h2>
    <form method = "post">
        {% csrf_token %}
        <label for = "user_id">Select user: </label>
        <select name="user_id">
            {% for user in all_users %}
            <option value="{{user.id}}">{{user.username}}</option>
            {% endfor %}
        </select>

        <label for="role">Role: </label>
        <select name="role">
            <option value="audience">Audience</option>
            <option value="debater"{% if debater_limit_reached %}disabled{% endif %}>Debator</option>
            <option value="moderator">Moderator</option>
        </select>
        {% if debater_limit_reached %}
        <p style="color: red;">Only 2 debaters are allowed in 1v1 debates.</p>
        {% endif %}

        <button type="submit">Assign Role</button>
    </form>

    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}

    <h3>Current Participants</h3>
    <ul>
        {% for participant in participants %}
        <li>{{participant.user.username}} - {{participant.role}}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'debate_room_detail' room.id %}">Enter Room</a>
{% endblock %}