{% extends "debates/layout.html" %}
{% block body %}

    <div class="container">
        <h2>Welcome {{user.username}}</h2>
        <div class="section">
            <h3>Live Debates</h3>
            <ul>
                {% for participant in live_rooms %}
                <li>{{ participant.room.title}} - Role : {{participant.role}}
                    <a href="{% url 'debate_room_detail' participant.room.id %}">Join</a>
                </li>
                {% empty %}
                <li>No Live debates</li>
                {% endfor %}
            </ul>
        </div>

        <div class="section">
            <h3>Upcoming Debates</h3>
            <ul>
                {% for participant in upcoming_rooms %}
                <li>{{ participant.room.title}} - Role : {{participant.role}}
                    <a href="{% url 'debate_room_detail' participant.room.id %}">Join</a>
                </li>
                {% empty %}
                <li>No Upcoming debates</li>
                {% endfor %}
            </ul>
        </div>

        <div class="section">
            <h3>Past Debates</h3>
            <ul>
                {% for participant in past_rooms %}
                <li>{{participant.room.title}} - Role : {{participant.role}}</li>
                {% empty %}
                <li>No Past debates</li>
                {% endfor %}
            </ul>
        </div>

        <div class="section">
            <h3>Featured Debates</h3>
            <ul>
                {% for room in featured_rooms %}
                <li>{{ room.title }} - {{ room.description }}</li>
                {% empty %}
                <li>No featured debates currently.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
{% endblock %}