body{
   background-image: url("bg.jpg"); 
   background-size: cover;
   background-repeat: no-repeat;
}

.navbar {
   display: flex;
   align-items: flex-end;
}

/* ul.errorlist {
   color: #BA0F30;
} */